@import "tailwindcss";

@theme {
  --color-primary: #142444;
  --color-secondary: #fba304;
  --color-text-header: #4b5563;
}

@font-face {
  font-family: "PrachasonNeue";
  src: url("./font/PrachasonNeue-Regular.otf");
}
@font-face {
  font-family: "PrachasonNeue-Light";
  src: url("./font/PrachasonNeue-Light.otf");
}

@font-face {
  font-family: "PrachasonNeue-Black";
  src: url("./font/PrachasonNeue-Black.otf");
}
h1,
span {
  font-family: "PrachasonNeue-Black";
}
p {
  font-family: "PrachasonNeue-Light";
}
* {
  font-family: "PrachasonNeue";
  scroll-behavior: smooth;
}
body {
  background-color: #f6f9fc;
}

.stats-item {
  border-left: 4px solid #0f4c81;
}

.stats-item:first-child {
  border-left: none;
}

@media (max-width: 768px) {
  .stats-item {
    border-left: none;
    border:none
  }

  .stats-item:first-child {
    border-top: none;
  }
}
